body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #282c34;
    color: white;
}

#welcome-page, #main-page {
    text-align: center;
}

input, button {
    padding: 10px;
    margin: 5px;
    border: none;
    border-radius: 5px;
}

button {
    cursor: pointer;
    background-color: #61dafb;
    color: black;
}

table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
}

strong {
  color: red
}

:root {
    --cursor-color: red;
}

body {
    cursor: none;
}

.custom-cursor {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: var(--cursor-color);
    border-radius: 50%;
    pointer-events: none;
    z-index: 10000;
    transform: translate(-50%, -50%);
}


